.k-panel-view {
  transform: none; }

.form[data-v-26084dc2] {
  max-width: 20rem;
  margin: 0 auto;
}
.form .k-input[data-v-26084dc2] {
    margin-bottom: 1rem;
}

.k-section[data-v-0ecd383b] .k-grid {
  margin-bottom: -2px;
  margin-right: -2px;
}
.k-section[data-v-0ecd383b] .k-list-item {
  margin-bottom: 2px;
  margin-right: 2px;
}
[data-v-0ecd383b] .ms-stats {
  margin-bottom: 1rem;
}
[data-v-0ecd383b] .ms-stats li {
    display: inline-block;
    width: 33.33%;
    margin-bottom: 0.5rem;
}
[data-v-0ecd383b] .k-checkboxes-input li {
  display: inline-block;
  width: 33.33%;
  margin-bottom: 0.75rem;
}
header[data-v-0ecd383b] {
  margin-bottom: 0.75rem;
}
.k-list-item:not(:hover) .k-list-item-options[data-v-0ecd383b] {
  width: 0;
  overflow: hidden;
}
.ms-export-data[data-v-0ecd383b] {
  margin-bottom: 2rem;
}
.ms-upload[data-v-0ecd383b] {
  display: flex;
  align-items: center;
  margin: 2rem auto 0;
  padding: 0.75rem 1.5rem;
  background: #17b7ff;
  color: white;
  border-radius: 2px;
}

.k-view[data-v-7ba5bd90] {
  max-width: 50rem;
}
.ms-alerts-wrapper[data-v-7ba5bd90] {
  width: 100%;
  padding-top: 6px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  overflow: hidden;
}
.ms-alerts-wrapper[data-v-7ba5bd90] .k-button {
    display: block;
    margin: 1rem auto;
}
.ms-alerts-pad[data-v-7ba5bd90] {
  padding: 0.1px 0;
  background: #f6f6f6;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ms-alerts[data-v-7ba5bd90] {
  max-width: 25em;
  margin: 2rem auto;
}
.ms-alerts[data-v-7ba5bd90] .k-box {
    margin-bottom: 0.5rem;
}
.slide-enter .ms-alerts-pad[data-v-7ba5bd90],
.slide-leave-to .ms-alerts-pad[data-v-7ba5bd90] {
  transform: translateY(100%);
}

