.k-panel-view {
  transform: none; }

@charset "UTF-8";
.ms-crumbs {
  padding: 0.625rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ccc;
}
.ms-crumbs__crumb {
  display: inline-block;
  line-height: 1;
}
.ms-crumbs__crumb button {
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    outline: none;
    opacity: 0.75;
}
.ms-crumbs__crumb button:after {
      content: '→';
      margin: 0 8px;
      user-select: none;
      opacity: 0.5;
}
.ms-crumbs__crumb button:hover, .ms-crumbs__crumb button:focus {
      opacity: 1;
}

.k-section[data-v-dfd3d4e6] .k-grid {
  margin-bottom: -2px;
  margin-right: -2px;
}
.k-section[data-v-dfd3d4e6] .k-list-item {
  margin-bottom: 2px;
  margin-right: 2px;
}
[data-v-dfd3d4e6] .ms-stats {
  margin-bottom: 1rem;
}
[data-v-dfd3d4e6] .ms-stats li {
    display: inline-block;
    width: 33.33%;
    margin-bottom: 0.5rem;
}
[data-v-dfd3d4e6] .k-checkboxes-input li {
  display: inline-block;
  width: 33.33%;
  margin-bottom: 0.75rem;
}
header[data-v-dfd3d4e6] {
  margin-bottom: 0.75rem;
}
.k-list-item:not(:hover) .k-list-item-options[data-v-dfd3d4e6] {
  width: 0;
  overflow: hidden;
}

label[data-v-8b19033c] {
  display: flex;
  align-items: center;
}
label.k-button[data-v-8b19033c],
  label input[data-v-8b19033c] {
    cursor: pointer;
}
.ms-select-all[data-v-8b19033c] {
  display: block;
  margin-top: -20px;
  margin-left: auto;
  padding: 11px;
}
.ms-info[data-v-8b19033c] {
  margin: 1rem 0;
  text-align: center;
}
.k-list-item-text small[data-v-8b19033c] {
  margin-right: -10px;
}
.k-list-item-image[data-v-8b19033c] {
  width: 64px;
}
.k-list-item-image .k-icon[data-v-8b19033c] {
    width: auto;
}
.ms-delete[data-v-8b19033c] {
  display: block;
  margin: 0.75rem auto;
  opacity: 0.6;
}

.ms-screen[data-v-f18971dc] {
  text-align: center;
}
.ms-user-info[data-v-f18971dc] {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.form[data-v-9a2b2f96] {
  max-width: 18rem;
  margin: 0 auto;
  text-align: center;
}
.form .k-input[data-v-9a2b2f96] {
    margin-bottom: 1rem;
}

.ms-header[data-v-7ba5bd90] {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
nav[data-v-7ba5bd90] {
  border-bottom: 1px solid #ccc;
}
.k-tab-button[aria-current][data-v-7ba5bd90]:after {
  display: none;
}
[data-v-7ba5bd90] .ms-crumbs {
  border-top: none;
}
[data-v-7ba5bd90] .k-view {
  max-width: 50rem;
}
[data-v-7ba5bd90] .ms-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  background: #16171a;
  color: white;
}
[data-v-7ba5bd90] .ms-button.ms-t1 {
    background: #4271ae;
}
[data-v-7ba5bd90] .ms-button.ms-t2 {
    background: #5d800d;
}
[data-v-7ba5bd90] .ms-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-v-7ba5bd90] .ms-actions button {
    min-width: 10em;
}
[data-v-7ba5bd90] .ms-actions button + button {
      margin-left: 2rem;
}
.ms-alerts-wrapper[data-v-7ba5bd90] {
  width: 100%;
  padding-top: 6px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  overflow: hidden;
}
.ms-alerts-wrapper[data-v-7ba5bd90] .k-button {
    display: block;
    margin: 1rem auto;
}
.ms-alerts-pad[data-v-7ba5bd90] {
  padding: 0.1px 0;
  background: #f6f6f6;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ms-alerts[data-v-7ba5bd90] {
  max-width: 25em;
  margin: 2rem auto;
}
.ms-alerts[data-v-7ba5bd90] .k-box {
    margin-bottom: 0.5rem;
}
.slide-enter .ms-alerts-pad[data-v-7ba5bd90],
.slide-leave-to .ms-alerts-pad[data-v-7ba5bd90] {
  transform: translateY(100%);
}

