.k-panel-view {
  transform: none; }

@charset "UTF-8";
.ms-crumbs button[data-v-307c9dfc] {
  display: inline-flex;
  font-size: 16px;
  line-height: 1;
  outline: none;
}
.ms-crumbs button[data-v-307c9dfc]:before {
    content: '←';
    margin: 0 8px;
    color: #000;
    font-size: 1em;
    user-select: none;
    opacity: 0.5;
}
.ms-crumbs button[data-v-307c9dfc]:hover, .ms-crumbs button[data-v-307c9dfc]:focus {
    color: #555;
}

.form[data-v-26084dc2] {
  max-width: 18rem;
}
.form .k-input[data-v-26084dc2] {
    margin-bottom: 1rem;
}

.k-section[data-v-0ecd383b] .k-grid {
  margin-bottom: -2px;
  margin-right: -2px;
}
.k-section[data-v-0ecd383b] .k-list-item {
  margin-bottom: 2px;
  margin-right: 2px;
}
[data-v-0ecd383b] .ms-stats {
  margin-bottom: 1rem;
}
[data-v-0ecd383b] .ms-stats li {
    display: inline-block;
    width: 33.33%;
    margin-bottom: 0.5rem;
}
[data-v-0ecd383b] .k-checkboxes-input li {
  display: inline-block;
  width: 33.33%;
  margin-bottom: 0.75rem;
}
header[data-v-0ecd383b] {
  margin-bottom: 0.75rem;
}
.k-list-item:not(:hover) .k-list-item-options[data-v-0ecd383b] {
  width: 0;
  overflow: hidden;
}

label[data-v-404f7490] {
  display: flex;
  align-items: center;
}
label.k-button[data-v-404f7490],
  label input[data-v-404f7490] {
    cursor: pointer;
}
.ms-select-all[data-v-404f7490] {
  display: block;
  margin-top: -20px;
  margin-left: auto;
  padding: 11px;
}
.ms-info[data-v-404f7490] {
  margin: 1rem 0;
  text-align: center;
}
.k-list-item-text small[data-v-404f7490] {
  margin-right: -10px;
}
.k-list-item-image[data-v-404f7490] {
  width: 64px;
}
.k-list-item-image .k-icon[data-v-404f7490] {
    width: auto;
}
.ms-delete[data-v-404f7490] {
  display: block;
  margin: 0.75rem auto;
  opacity: 0.6;
}

.ms-user-info[data-v-e0b47cf6] {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.ms-header[data-v-7ba5bd90] .k-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ms-header[data-v-7ba5bd90] .k-button {
  margin-bottom: -0.5rem;
}
[data-v-7ba5bd90] .ms-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  background: #16171a;
  color: white;
}
[data-v-7ba5bd90] .ms-button.ms-t1 {
    background: #4271ae;
}
[data-v-7ba5bd90] .ms-button.ms-t2 {
    background: #5d800d;
}
[data-v-7ba5bd90] .ms-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-v-7ba5bd90] .ms-actions button {
    min-width: 10em;
}
[data-v-7ba5bd90] .ms-actions button + button {
      margin-left: 2rem;
}
.k-view[data-v-7ba5bd90] {
  max-width: 50rem;
}
.ms-alerts-wrapper[data-v-7ba5bd90] {
  width: 100%;
  padding-top: 6px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  overflow: hidden;
}
.ms-alerts-wrapper[data-v-7ba5bd90] .k-button {
    display: block;
    margin: 1rem auto;
}
.ms-alerts-pad[data-v-7ba5bd90] {
  padding: 0.1px 0;
  background: #f6f6f6;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ms-alerts[data-v-7ba5bd90] {
  max-width: 25em;
  margin: 2rem auto;
}
.ms-alerts[data-v-7ba5bd90] .k-box {
    margin-bottom: 0.5rem;
}
.slide-enter .ms-alerts-pad[data-v-7ba5bd90],
.slide-leave-to .ms-alerts-pad[data-v-7ba5bd90] {
  transform: translateY(100%);
}

