.memsource-widget {
    button {
        user-select: none;
    }

    .ms-wrapper {
        max-width: 16em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .dashboard-box {
        .dashboard-item {
            transition: background 0.1s ease;

            &:hover {
                background: #f2f2f2;
            }
        }

            button {
                display: flex;
                align-items: center;
                width: 100%;
                border: none;

                text-align: left;
                cursor: pointer;
                background: none;
                appearance: none;
                outline: none;
            }

                .lang {
                    line-height: 1;
                    font-family: monospace;
                    color: $color-error;

                    &.is-valid {
                        color: $color-success-dark;
                    }
                }

                .lang-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }

                .dashboard-item-text {
                    display: inline-flex;
                    justify-content: space-between;
                }

                    .title {
                        flex: 0 1 auto;
                        margin-right: 0.75em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .item-languages {
                        max-width: 75%;
                        line-height: 1;
                    }

                    .item-time {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        color: #888;
                    }
    } // .dashboard-box

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }

    .fade-enter-active {
        transition: opacity $transition-enter;
    }

    .fade-leave-active {
        transition: opacity $transition-leave;
    }
} // .memsource-widget